@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800&display=swap');

:root{
    --color-bg: #150c25;
    --color-blocks: #20113b;
    --color-primarytext: #ffffff;
    --color-secondarytext: #cbcbcb;
    --box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
    --box-shadow-2: 0px 0px 10px 5px rgba(0, 0, 0, 0.2); 
}

body{
    background-color: var(--color-bg);
    font-family: 'Barlow Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 100px;
    height: 100%;
    background: var(--color-blocks);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: var(--box-shadow);
}

.sidebar header{
    justify-content: center;
}

.sidebar header img{
    margin-left: 10px;
    width: 80%;
    margin-top: 5px;
}

.sidebar ul{
    display: inline-block;
    padding-top: 120px;
    width: 100%;
    
}

.sidebar ul li{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: 1px solid var(--color-primarytext);
    border-bottom: 1px solid var(--color-primarytext);
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height:70px;
    color: var(--color-primarytext);
    transition: 0.5s;
}

ul li:hover a{
    padding-left: 10px;
}


@keyframes slide {
    from{
        transform: translateX(0);
    } 
    to {
        transform: translateX(-300%);
    }
}

.info {
    overflow-x: auto;
    max-height: 1000px;
    width: 92%;
    float: left;
    margin-top: 50px;
    margin-left: 120px;
    display: flex;
    white-space: nowrap;
}

::-webkit-scrollbar{
    height: 1em;
}

::-webkit-scrollbar-track{
    background: var(--color-blocks);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #3e236e;
    border-radius: 10px;
}

.info .item{
    display: inline-block;
    min-width: 250px;
    height: 350px;
    background-color: var(--color-blocks);
    margin-right: 10px;
    border-radius: 10px;
}

.info .item .panellabel{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
}

.info .item .circle{
    width: 250px;
    height: 260px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info .item .voltcircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid rgba(2, 255, 0, 1);
}

.info .item .ampscircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid rgba(2, 255, 0, 1);
}

.info .item .irrcircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid rgba(2, 255, 0, 1);
}

.info .item .tempcircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid rgba(2, 255, 0, 1);
}

.info .item .commstat{
    float: top;
    top: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
}

.voltage-viewer {
    position: absolute;
    width: 565px;
    height: 300px;
    left: 120px;
    top: 440px;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--color-blocks);
    box-shadow: var(--box-shadow);
}

.voltage-viewer .volt{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
}

.voltage-viewer .voltstat{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-secondarytext);
    line-height: 0.8;
}

.irradiance-viewer {
    position: absolute;
    width: 565px;
    height: 300px;
    left: 120px;
    top: 758.5px;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--color-blocks);
    box-shadow: var(--box-shadow);
}

.irradiance-viewer .irradiance{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
}

.irradiance-viewer .irrstat{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-secondarytext);
    line-height: 0.8;
}


.current-viewer {
    position: absolute;
    width: 565px;
    height: 300px;
    left: 702.5px;
    top: 440px;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--color-blocks);
    box-shadow: var(--box-shadow);
}

.current-viewer .current{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
}

.current-viewer .currstat{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-secondarytext);
    line-height: 0.8;
}

.power-viewer {
    position: absolute;
    width: 565px;
    height: 300px;
    left: 702.5px;
    top: 758.5px;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--color-blocks);
    box-shadow: var(--box-shadow);
}

.power-viewer .power{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
}

.power-viewer .powerstat{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: var(--color-secondarytext);
    line-height: 0.8;
}

.info-viewer {
    position: absolute;
    width: 600px;
    height: 620px;
    left: 1285px;
    top: 440px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8;
    color: var(--color-primarytext);
    border-radius: 25px 25px 25px 25px;
    background-color: var(--color-blocks);
    box-shadow: var(--box-shadow);
}

.info-viewer .time{
    font-size: 72px;
    line-height: 1.2;
}

.info-viewer .date{
    font-weight: 100;
    color: var(--color-secondarytext);
    line-height: 0.5;
}

.info-viewer .infocircle{
    margin-top: 45px;
    width: 600px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-viewer .infocircle .circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid var(--color-secondarytext);
}

.info-viewer .infocircle .buttons{
    size: 5em;
    margin-top: 110px;
    color: var(--color-secondarytext)
}

.info-viewer .infocircle .circle .daycount{
    font-size: 120px;
    line-height: 1.4;
    color: var(--color-secondarytext)
}

.info-viewer .infocircle .circle .day{
    font-size: 60px;
    line-height: 0;
    color: var(--color-secondarytext);
}


.info-viewer .site{
    font-size: 36px;
}

.info-viewer .sitename{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.info-viewer .coordinates{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
